<!-- information -->
<div class="skills section second" id="infor">
    <div class="container">
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h4">
                    INFOMATION
                </caption>
                <tfoot class="pdfignore">
                    <tr>
                        <td colspan="2">Relative information may change from time to time.</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>Date of birth</th>
                        <td>1995/06/26</td>
                    </tr>
                    <tr class="pdfignore">
                        <th>Gender</th>
                        <td>male</td>
                    </tr>
                    <tr>
                        <th>Phone number</th>
                        <td>
                            <a href="tel:+84343086424" style="font-weight: bold"> +84343086424 </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Mail address</th>
                        <td>
                            <a href="mail:thanhhung.code@gmail.com" style="font-weight: bold"> thanhhung.code@gmail.com </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <!-- <td>東京都葛飾区東四つ木3-15-8</td> -->
                        <td>
                            Temporary address:
                            <strong style="color: black"> 107/39 Pham Van Hai, 3 Commune, Tân Bình District, Thành phố Hồ Chí Minh </strong><br />
                            Permanent address:
                            <strong> Loc Hoa, Binh Gia Commune, Chau Duc District, Ba Ria - Vung Tau Province </strong>
                        </td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://ebudezain.com/">https://ebudezain.com/</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
