<!-- Introduction -->
<div class="intro section">
    <div class="container">
        <p>Fullstack Web Developer - Truong Thanh Hung.</p>
        <div class="units-row units-split wrap">
            <div class="unit-20">
                <img src="https://resume.ebudezain.com/img/ava.jpg" alt="Avatar" />
            </div>
            <div class="unit-80">
                <h1>
                    Main Stack: <br />
                    <div class="wrapper__job">Nodejs - PHP - Reactjs.</div>
                </h1>
            </div>
            <p>
                I am a young and dynamic fullstack web developer, always creative and efficient in delivering technology solutions.
                <br />
                I never stop learning and improving my skills to overcome pressure and adapt to the latest technologies.
                <br />
                In the near future, I want to develop mobile applications on platforms such as swift, React Native, flutter.
            </p>
        </div>
    </div>
    <div class="container text-right">
        <a type="button" class="btn btn-labeled btn-success" href="/truong-thanh-hung.en.v1.0.3.pdf" download>
            <span class="btn-label">
                <i class="fa fa-download" aria-hidden="true"></i>
            </span>
            Down file PDF
        </a>
    </div>
</div>
