@@include('./introduction.html')
@@include('./information.html')
@@include('./objective.html')
@@include('./education.html')
@@include('./skill.html')
@@include('./experience.html')
@@include('./about.html')

<footer>
    <div class="container">
        <div class="units-row">
            <div class="unit-50">
                <p>Truong Thanh Hung web developer</p>
            </div>
            <div class="unit-50">
                <ul class="social list-flat right">
                    <li>
                        <a href="mailto:thanhhung.dev@gmail.com"><i class="fa fa-send"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/HungSmurf"><i class="fa fa-facebook-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- 



<a id="saveAsPdfBtn" href="https://www.sejda.com/html-to-pdf">Save as PDF</a>
<script>
document.getElementById('saveAsPdfBtn').addEventListener('click', function(e){
  var pageUrl = encodeURIComponent(window.location.href);
  window.open('https://www.sejda.com/html-to-pdf?save-link=' + pageUrl);
  e.preventDefault();
});
</script> -->

