.homepage{
    .analysis{
        &__head{
            
            padding: 15px 30px;
            background-color: #f2f2f2;
            &--title{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px;
                font-size: 20px;
            }
            &--des{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px 0 30px;
                font-size: 16px;
            }
        }
        .content__group{
            padding: 5px 10px 5px;
            line-height: 1.4;
            display: flex;
            flex-direction: row;
            input[type=checkbox]{
                display: inline-block;
                margin-top: 5px;
            }
            label{
                font-size: 12px;
                font-weight: 600; /// edit font 500 to 600 
                padding-left: 5px;
                padding-top: 3px;
                display: inline-block;
                text-align: left;
                a{
                    color: #2fbff3;
                    
                }
            }
        }

        .wrapper{
            display: flex;
            justify-content: space-between;
            padding: 30px 15px 15px;

            @include ScreenMax( SM ){
                flex-direction: column;
                // .image__left, .image__right{
                //     display: flex;
                //     flex-direction: column;
                // }
                text-align: center;
                img{
                    width: unset;
                    height: auto;
                }
                .image__right{
                    padding-top: 30px;
                }
            }
            
            &.center{
                align-items: center;
            }

            &__right{
                flex-grow: 999;
                text-align: center;
                img{
                    height: 100%;
                    width: auto;
                }
            }
            .btn__spreadsheet{
                background-color: transparent;
                border-radius: 50px;
                font-size: 10px;
                outline: none;
                color: white;
                background-color: #00b0f0;
                border: 1px solid #00b0f0;
                line-height: 2;
                padding: 0 1.8rem 0.1rem;
                margin-bottom: 15px;
                font-weight: 600;
            }
        }
    }
}