.homepage{
    .brand{

        &__top{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;

        }
        &--image{
            width: initial;
            height: auto;
        }
        &--text{
            margin: 0!important;
            padding: 0;
            font-weight: bold;
        }
        &__bottom{
            color: $text__color;
            font-size: 20px;
            margin: 0!important;
            padding: 10px;
            font-weight: bold;

            @include ScreenMax(SM){
                font-size: 16px;
            }
            @include ScreenMax(XS){
                font-size: 13px;
            }
        }
        
    }
}