.homepage{
    .convenient{
        &__head{
            
            padding: 15px 30px;
            background-color: #f2f2f2;
            &--title{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px;
                font-size: 20px;
            }
            &--des{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px 0 30px;
                font-size: 16px;
            }
        }
        &__bot{
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        &__title{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 0 0 20px;

            &--image{
                width: initial;
                height: auto;
            }
            &--text{
                color: #00b0f0;
                font-weight: 900;
                margin: 0;
                padding: 0;
                font-size: 16px;
                padding-left: 10px;
            }
        }

        &__des{
            font-size: 15px;
            font-weight: 600; /// edit font 500 to 600 
        }

        .content{
            display: flex;
            padding: 30px;
            .btn-procedure{
                background-color: transparent;
                border-radius: 0;
                font-size: 14px;
                outline: none;
                border: 1px solid $gray-900;
                line-height: 2;
                padding: 0 0.8rem 0.2rem;
                margin-bottom: 30px;
                font-weight: 600;
            }
            .btn-questionnaire{
                background-color: transparent;
                border-radius: 50px;
                font-size: 10px;
                outline: none;
                color: white;
                background-color: #00b0f0;
                border: 1px solid #00b0f0;
                line-height: 2;
                padding: 0 0.8rem 0.1rem;
                margin-bottom: 30px;
                font-weight: 600;
            }
            .btn-manager{
                background-color: transparent;
                border-radius: 50px;
                font-size: 10px;
                outline: none;
                color: white;
                background-color: #00b0f0;
                border: 1px solid #00b0f0;
                line-height: 2;
                width: 80%;
                padding: 0 1.8rem 0.1rem;
                margin-top: 30px;
                font-weight: 600;
            }
            .btn-employee{
                background-color: transparent;
                border-radius: 50px;
                font-size: 10px;
                outline: none;
                color: white;
                background-color: #ffc000;
                border: 1px solid #ffc000;
                line-height: 2;
                width: 80%;
                padding: 0 1.8rem 0.1rem;
                margin-top: 30px;
                font-weight: 600;
            }
            &__left{
                flex-grow: 999;
                padding-right: 60px;
            }
            &__right{
                max-width: 250px;
            }
            @include ScreenMax( SM ){
                flex-direction: column;
                &__left{
                    padding-right: 0;
                }
                &__right{
                    margin: 0 auto;
                    padding-top: 30px;
                }
            }
            @include ScreenMax( SM ){
                padding-left: 0;
                padding-right: 0;
            }
        } 

        .legend{
            border-radius: 10px;
            border: 2px solid $gray-300;
            padding: 60px 30px;
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            text-align: center;

            .arrow__right{
                font-size: 13px;
                position: relative;
                padding: 0 0 20px;
                width: 80%;
                margin: 0 auto;

                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 20px solid #00b0f0;
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 10px;
                    bottom: 6px;
                    height: 6px;
                    background-color: #00b0f0;
                }
            }
            .arrow__left{
                font-size: 13px;
                position: relative;
                padding: 20px 0 0;
                width: 80%;
                margin: 0 auto;

                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 20px solid #00b0f0;
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: 10px;
                    right: 0;
                    top: 6px;
                    height: 6px;
                    background-color: #00b0f0;
                }
            }

            &>div{
                flex: 1;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: flex-end;
                align-items: center;
            }

            &--image{
                max-width: 150px;
                max-height: 120px;
                width: auto;
                object-fit: contain;
            }

            &__mid{
                justify-content: center!important;
                align-items: unset!important;
                text-align: center!important;
                .legend--image{
                    width: 50px;
                    height: auto;
                    margin: 0 auto;
                }
            }
            @include ScreenMax(MD){
                flex-direction: column;
                &__mid{
                    position: relative;
                    min-height: 200px;
                    .arrow__right{
                        
                        padding: 20px 0 0;
                        width: unset;
                        min-width: 160px;
                        position: absolute;
                        left: 30%;
                        transform: translate(-50%,30%) rotate( 90deg);
                        &::before{
                            top: 0;
                            bottom: unset;
                        }
                        &::after{
                            top: 7px;
                            bottom: unset;
                        }
                    }
                    .arrow__left{
                        
                        padding: 0 0 20px;
                        width: unset;
                        min-width: 160px;
                        position: absolute;
                        top: 50%;
                        right: 30%;
                        transform: translate(50%,-30%) rotate( 90deg);
                        &::before{
                            top: unset;
                            bottom: 0;
                        }
                        &::after{
                            top: unset;
                            bottom: 7px;
                        }
                    }
                }
            }
        }
        
    }
}