.homepage{
    .efficiency{
        &__head{
            
            padding: 15px 30px;
            
            &--des{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px 0 50px;
                font-size: 16px;
            }
            @include ScreenMax( SM ){
                padding: 15px 0;
            }
        }
        &__title{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;

            &--image{
                width: initial;
                height: auto;
            }
            &--text{
                font-weight: 900;
                margin: 0;
                padding: 0;
                font-size: 20px;
                padding-left: 10px;
            }
        }

        .bots{
            padding: 60px 60px 15px;
            @include ScreenMax( SM ){ padding: 15px 60px; }
            @include ScreenMax( XS ){ padding: 15px 0; }
            &__group{
                h4{
                    color: #00b0f0;
                    font-weight: 600;
                    font-size: 16px;
                }
                p{
                    padding: 5px 0;
                    margin: 0;
                    font-size: 14px;
                }
            }
            
        }

        .context{
            display: flex;
            flex-direction: row;

            &__first, &__last{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
            }
            &__first{ flex: 6; align-items: center; }
            &__last{ flex: 4;}
            

            &__item{
                &.left{
                    width: 200px;
                    height: 100%;
                    img{
                        height: 80px;
                        width: auto;
                    }
                    .group{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-around;

                        &__item{
                            padding: 10px 40px;
                            text-align: center;
                            position: relative;
                            &::before{
                                z-index: 2;
                                position: absolute;
                                content: '';
                                width: 60px;
                                height: 45px;
                                top: 20%;
                                right: 0;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                box-sizing: border-box;
                                background-image: url(/img/arrow-right-blue.png);
                                @include render-transform(translateX(30%))
                            }
                            &.last{
                                position: relative;
                                &::after{
                                    background-image: url(/img/attendance-left-people.png);
                                    z-index: 2;
                                    position: absolute;
                                    content: '';
                                    width: 50px;
                                    height: 90px;
                                    right: 60%;
                                    bottom: 0;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                }
                &.mid{
                    flex-grow: 999;
                    // height: 100%;
                    .group{
                        position: relative;
                        padding: 0 30px;
                        height: 100%;

                        button{
                            border: 2px solid #00b0f0;
                            outline: none;
                            border-radius: 4px;
                            background-color: white;
                            font-size: 14px;
                            font-weight: 600;
                            color: #00b0f0;
                            line-height: 2;
                            padding: 0 1.8rem 0.1rem;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include render-transform(translate(-50%, -50%));
                        }
                    }
                }
                &.midright{
                    flex: 1;
                    padding: 0 50px 0 60px;
                    .group{
                        
                        &__item{
                            font-size: 12px;
                            font-weight: 600;
                            text-align: center;
                            padding: 10px 0;
                            &:first-child{
                                position: relative;
                                &::after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: 100%;
                                    width: 45px;
                                    height: 60px;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    box-sizing: border-box;
                                    background-image: url(/img/arrow-left-right.png);
                                    @include render-transform(translate(-50%, -50%) );
                                }
                            }
                        }
                    }
                }
                &.right{
                    flex: 1;
                    .group{
                        
                        &:first-child{
                            padding: 40px 0 60px;
                            position: relative;
                            img{
                                max-width: 50px;
                            }
                            &::before{
                                content: "";
                                position: absolute;
                                z-index: 2;
                                width: 40px;
                                height: 45px;
                                top: 40%;
                                left: 0;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: 50%;
                                box-sizing: border-box;
                                background-image: url(/img/arrow-right-blue.png);
                                @include render-transform(translate(-50%, -50%));
                            }
                            &::after{
                                content: "";
                                position: absolute;
                                z-index: 2;
                                width: 60px;
                                height: 45px;
                                bottom: 0;
                                right: 50%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: 50%;
                                box-sizing: border-box;
                                background-image: url(/img/arrow-right-blue.png);
                                @include render-transform(translate(50%, 0%) rotate( 90deg));
                            }
                        }
                        &__item{
                            font-size: 12px;
                            font-weight: 600;
                            text-align: center;
                            padding: 10px 0;
                        }
                    }
                }
            }

            @include ScreenMax(MD){
                flex-direction: column;
                &__first{ 
                    flex: unset; 
                    align-items: unset; 
                    justify-content: space-between;
                }
                &__last{ 
                    flex: unset; 
                    flex-direction: row-reverse; 
                    justify-content: space-between;
                }
                &__item{
                    &.left{
                        height: unset;
                        flex-grow: 99;
                        .group{ 
                            &__item{
                                &::before{
                                    @include render-transform(translateX(-50%))
                                }
                            }
                        }
                    }
                    &.mid{
                        flex-grow: unset;
                    }
                    &.midright{
                        padding: 0;
                        .group{
                            img{
                                max-width: 180px;
                            }
                            &__item{
                                
                                &:first-child{
                                    padding-top: 80px;
                                    position: relative;
                                    &::after{
                                        top: 10px;
                                        right: 50%;
                                        @include render-transform(translate(50%, 0) rotate(90deg) );
                                    }
                                }
                            }
                        }
                    }
                    &.right{
                        flex: 2;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: center;
                        align-items: center;
                        .group{
                            flex: 1;
                            img{
                                max-width: 180px;
                            }
                            &:first-child{
                                padding: 0;
                                &::before{
                                    @include render-transform(translate(0%, 0%) rotate(180deg));
                                }
                                &::after{
                                    bottom: unset;
                                    top: 40%;
                                    right: 0;
                                    @include render-transform(translate(0, 0%) rotate( 180deg));
                                }
                            }
                        }
                    }
                }
            }
            @include ScreenMax( SM ){

                &__first, &__last{
                    flex-direction: column;
                    
                }
                
                &__item{
                    &.left{
                        flex-grow: unset;
                        width: 100%;
                        .group{
                            img{width: 60px;}
                            flex-direction: row;
                            width: 100%;
                            padding-bottom: 50px;

                            &__item{
                                padding: 10px;
                                text-align: center;
                                position: relative;
                                &::before{
                                    top: 100%;
                                    right: 50%;
                                    @include render-transform(translateX(50%) rotate( 90deg ))
                                }
                            }
                        }
                    }
                    &.mid{
                        flex-grow: unset;
                        .group{
                            padding-top: 15px;
                            text-align: center;
                            img{
                                max-width: 320px;
                            }
                        }
                    }
                    &.midright{
                        flex: unset;
                        padding: 0;
                        .group{
                            
                            &__item{
                                &:first-child{
                                    position: relative;
                                    &::after{
                                        top: 0;
                                        bottom: unset;
                                        right: 50%;
                                        @include render-transform(translateX(50%) rotate( 90deg ))
                                    }
                                }
                            }
                        }
                    }
                    &.right{
                        flex-direction: column;
                        flex: unset;
                        .group{
                            
                            &:first-child{
                                padding: 60px 0;
                                position: relative;
                                &::before{
                                    top: 0;
                                    bottom: unset;
                                    left: 50%;
                                    @include render-transform(translate(-50%, 0%) rotate( 90deg));
                                }
                                &::after{
                                    top: unset;
                                    bottom: 0;
                                    left: 50%;
                                    @include render-transform(translate(-50%, 0%) rotate( 90deg));
                                }
                            }
                            &__item{
                                font-size: 12px;
                                font-weight: 600;
                                text-align: center;
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }
        }
        
    }
}