.formformat{
    .groupware{
        padding: 0;
        .wrapper{
            .top{
                .title{
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 20px;
                    .image{
                        width: initial;
                        height: auto;
                    }
                    .title-text{
                        color: #3f3f3f;
                        font-weight: 900;
                        margin: 0;
                        padding: 0 10px;
                        font-size: 20px;
                    }
                }
                .description{
                    font-size: 16px; 
                    font-weight: 600; /// edit font 500 to 600 
                    padding: 0 0 20px 38px;
                }
            }
            .content-body{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 38px;
                .item-card{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 25px 35px;
                    width: calc(50% - 95px);
                    min-height: 300px;
                    border: 2px dashed #049AE6;
                    .card-top{
                        .top-title{
                            padding: 0;
                            font-size: 18px;
                            font-weight: bold;
                            color: #049AE6;
                        }
                        .top-text{
                            margin-bottom: 15px;
                            b{
                                display: block;
                                padding: 5px 0;
                                font-size: 14px;
                            }
                        }
                    }
                    .img{
                        img{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }
                    .img-background{
                        position: relative;
                        background-color: #f1f1f1;
                        height: auto;
                        width: 100%;
                        img{
                            position: relative;
                            z-index: -999;
                        }
                        .text{
                            position: absolute;
                            top: 50%;
                            width: 100%;
                            transform: translateY(-50%);
                            text-align: center;
                            b{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        @include ScreenMax(SM){
            .wrapper{
                padding: 0;
                .content-body{
                    flex-direction: column;
                    .item-card{
                        box-sizing: border-box;
                        margin-bottom: 25px;
                        width: 100%;
                    }
                }
            }
        }
        @include ScreenMax(XS){
            .wrapper{
                .content-body{
                    padding: 0;
                }
            }
        }
        @include ScreenMax(XSM){
            .wrapper{
                .content-body{
                    .item-card{
                        padding: 10px;
                    }
                }
            }
        }
    }
}