.homepage{
    .groupware{
        text-align: left;
        padding: 30px;
        @include ScreenMax(SM){
            padding: 0;
        }
        &__title{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 0 0 20px;

            &--image{
                width: initial;
                height: auto;
            }
            &--text{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px;
                font-size: 20px;
            }
        }


        &__des{
            font-size: 16px;
            font-weight: 600; /// edit font 500 to 600 
            padding: 0 0 20px;
            &-bottom{
                font-size: 18px;
                font-weight: 600; /// edit font 500 to 600 
                padding: 0 0 20px;
                line-height: 1.4;
            }
        }
        
        &__wrapper{
            padding: 40px;
        }

        &__content{
            display: flex;
            flex-direction: row-reverse;

            &-img{
                flex: 1;
            }
            &-main{
                flex: 1;
            }
            .listgroup{
                
                padding-right: 15px;
                &__item{
                    &-title{
                        
                        color: white;
                        padding: 10px 15px 10px 0;
                        position: relative;
                        font-size: 16px;
                        font-weight: 600; /// edit font 500 to 600 
                        &:after{
                            background-color: #00b0f0;
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -80px;
                            right: 40px;
                            bottom: 0;
                            z-index: -1;
                        }
                    }
                    &-content{
                        padding: 10px 0 15px 20px;
                        margin: 0;
                        list-style-type:decimal;
                        &>li{
                            font-size: 15px;
                            font-weight: 600; /// edit font 500 to 600 
                            line-height: 1.4;
                            ol{
                                padding: 0 0 10px 20px;
                                font-size: 14px;
                                list-style-type: square;
                            }
                        }
                    }
                }
            }
            
        }
        @include ScreenMax(SM){
            &__content{
                flex-direction: column;
                .listgroup{
                    padding: 0;
                    &__item{
                        &-title{
                            padding: 10px 15px;
                            &:after{
                                left: 0;
                                right: 0;
                            }
                        }
                        &-content{
                            padding: 10px 20px 15px 20px;
                            margin-left: 15px;
                        }
                    }
                }
            }
            &__wrapper{
                padding: 0;
            }
            
        }
        
    }

    
}