.homepage{
    .himplementation{

        &__title{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 20px 0;

            &--image{
                width: initial;
                height: auto;
            }
            &--text{
                color: #00b0f0;
                font-weight: 900;
                margin: 0;
                padding: 0;
                font-size: 20px;
                padding-left: 10px;
            }
        }

        .context{
            
            
            &__box{
                text-align: left;
                &--link{
                    padding: 30px 0 20px;
                    display: block;
                    color: $gray-900;
                    &:hover{ color: #00b0f0; }
                }
                &--wrapper{
                    padding: 0;
                    margin: 0;  
                }
                &--group{
                    padding-bottom: 20px;
                    span{
                        font-size: 18px;
                        font-weight: 600;
                        &:first-child{
                            color: #00b0f0;
                        }
                    }
                    .sublink{
                        .content__group{
                            padding: 5px 10px 5px;
                            line-height: 1.4;
                            display: flex;
                            flex-direction: row;
                            input[type=checkbox]{
                                display: inline-block;
                                margin-top: 5px;
                            }
                            label{
                                font-size: 16px;
                                font-weight: 600; /// edit font 500 to 600 
                                padding-left: 5px;
                                padding-top: 3px;
                                display: inline-block;
                                text-align: left;
                                a{
                                    color: #2fbff3;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
        

        .introbot{
            display: flex;
            align-items: center;
            justify-content: space-around;

            &__time{
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                background-color: #ddeaf6;
                color: #595959;
                padding: 25px;
                border-radius: 50%;
                @include render-transform(translate( -20px, 0 ));

                i{
                    display: inline-block;
                    font-size: 11px;
                    font-weight: 600;
                    font-style: normal;
                }
                strong{
                    font-size: 25px;
                    line-height: 25px;
                    display: inline-block;
                    text-align: center;
                    word-spacing: 0;
                    font-weight: 900;
                }
            }

            &__caption{
                font-size: 10px;
                padding-bottom: 10px;
                text-align: center;
            }

            &__item{
                position: relative;
                padding: 20px;
                &.mid{
                    .wrapper{
                        width: 60px;
                    }
                }
                &:last-child{
                    .introbot__time{
                        color: #11b4f0;
                        background-color: #ddeaf6;
                    }
                }
            }

            @include ScreenMax( MD ){
                flex-direction: column;
                .mid{
                    @include render-transform( rotate( 90deg ));
                }
            }
            @include ScreenMax( XS ){
                &__item{
                    // padding: 20px 60px;
                }
                &__time{
                    padding: 15px;
                    line-height: 0.7; 
                    @include render-transform( translate( -10px, 30px ));
                    i{
                        font-size: 8px;
                    }
                    strong{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
