.implementation-02{
    .groupware{
        padding: 0;
        .wrapper-head{
            padding: 15px 40px;
            background-color: #f2f2f2;
            .title{
                font-size: 20px;
                font-weight: bold;
            }
            .description{
                margin-left: 35px;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .wrapper{
            padding: 40px;
            .top{
                .title{
                    display: flex;
                    flex-direction: row;
                    .image{
                        width: initial;
                        height: auto;
                    } 
                    .title-text{
                        color: #3f3f3f;
                        font-weight: 900;
                        margin: 0;
                        padding: 0 10px;
                        font-size: 20px;
                    }
                }
                .description{
                    span{
                        color: #00b0f0;
                    }
                }
            }
            .content-body{
                .flow-chart{
                    fieldset{
                        display: flex;
                        flex-direction: row;
                        padding: 10px;
                        border: 2px solid #e4e4e4;
                        border-radius: 10px;
                        legend{
                            margin: auto;
                            padding: 10px;
                            font-size: 18px;
                            color: #00b0f0;
                        }
                        .col{
                            .text{
                                text-align: center;
                            }
                            .img{
                                width: 120px;
                                height: 120px;
                                margin: 10px auto 0;
                            }
                            .arrow{
                                margin: auto;
                                .img{
                                    width: 55px;
                                    height: 25px;
                                }
                            }
                        }
                        .col-02, .col-03, .col-04{
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
                .content-text{
                    .text-row{
                        margin: 15px 0;
                        p{
                            padding: 10px 0;
                            font-weight: bold;
                            .number{
                                color: #00b0f0;
                            }
                        }
                    }
                }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    vertical-align: unset;
                }
            }
        }
        @include ScreenMax(SM){
            .wrapper-head{
                .description{
                    margin-left: 0;
                }
            }
            .wrapper{
                .content-body{
                    .flow-chart{
                        fieldset{
                            flex-flow: wrap;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        @include ScreenMax(652){
            .wrapper{
                padding: 40px 0;
                .top{
                    .title{
                        .image{
                            height: 29px;
                        }
                    }
                    .description{
                        span{
                            color: #00b0f0;
                        }
                    }
                }
                .content-body{
                    .flow-chart{
                        fieldset{
                            flex-flow: unset;
                            flex-direction: column;
                            .col-02, .col-03, .col-04{
                                flex-direction: column;
                                .arrow{
                                    margin: 15px 0;
                                    .img{
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }          
        }
    }
}