.homepage{
    .infosharing{
        &__head{
            
            padding: 15px 30px;
            background-color: #f2f2f2;
            &--title{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px;
                font-size: 20px;
            }
            &--des{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px 0 30px;
                font-size: 16px;
            }
        }
        &__title{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 20px 0;

            &--image{
                width: initial;
                height: auto;
            }
            &--text{
                color: #00b0f0;
                font-weight: 900;
                margin: 0;
                padding: 0;
                font-size: 16px;
                padding-left: 10px;
            }
        }
        .item{
            &__content--data{
                padding-left: 30px;
            }
        }
        .content__group{
            padding: 5px 10px 5px;
            line-height: 1.4;
            display: flex;
            flex-direction: row;
            input[type=checkbox]{
                display: inline-block;
                margin-top: 5px;
            }
            label{
                font-size: 12px;
                font-weight: 600; /// edit font 500 to 600 
                padding-left: 5px;
                padding-top: 3px;
                display: inline-block;
                text-align: left;
                a{
                    color: #2fbff3;
                    
                }
            }
        }
        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item_right{
                flex-grow: 999;
                text-align: center;
            }

            @include ScreenMax( SM ){ 
                flex-direction: column;
                .item_right{
                    text-align: center;
                    padding: 20px 0;
                }
            }
        }
    }
}