.introduce-report{
    .groupware{
        padding: 0;
        .wrapper{
            padding: 40px;
            .top{
                .title{
                    display: flex;
                    flex-direction: row;
                    .image{
                        width: initial;
                        height: auto;
                    }
                    .title-text{
                        color: #3f3f3f;
                        font-weight: 900;
                        margin: 0;
                        padding: 0 10px;
                        font-size: 20px;
                        color: #00b0f0;
                    }
                }
            }
            .content-body{
                display: flex;
                flex-direction: column;
                .content-text{
                    .group{
                        margin-top: 25px;
                        .fieldset{
                            border: 2px solid #b3b3b3;
                            border-radius: 10px;
                            padding: 20px;
                        }
                    }
                    .text-row{
                        span{
                            color: #00b0f0;
                        }
                    }
                }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    vertical-align: unset;
                }
            }
        }
        @include ScreenMax(XS){
            .wrapper{
                padding: 40px 0;
                .top{
                    .title{
                        .image{
                            width: initial;
                            height: 29px;
                        }
                        .title-text{
                            color: #3f3f3f;
                            font-weight: 900;
                            margin: 0;
                            padding: 0 10px;
                            font-size: 20px;
                            color: #00b0f0;
                        }
                    }
                }
                .content-body{
                    .content-text{
                        .group{
                            .fieldset{
                                border: 2px solid #b3b3b3;
                                border-radius: 10px;
                                padding: 20px 10px;
                            }
                        }
                    }
                }
            }          
        }
    }
}