.homepage{
    .solve{
        text-align: left;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding-bottom: 50px;
        

        &__title{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 30px 120px 0;
            @include ScreenMax(SM){
                padding: 30px 60px 0;
            }
            @include ScreenMax(XS){
                padding: 30px 15px 0;
            }

            &--image{
                width: initial;
                height: auto;
            }
            &--text{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px;
                font-size: 17px;
            }
        }
        &__left{
            width: 60%;
        }
        &__right{
            width: 40%;
            &--image{
                width: 100%;
            }
        }
        @include ScreenMax(SM){
            flex-direction: column;
            &__left{
                width: 100%;
            }
            &__right{
                width: initial;
                margin-top: 30px;
                text-align: center;
                &--image{
                    width: initial;
                }
            }
        }
        &__content{
            padding: 30px 60px 0;
            @include ScreenMax(SM){
                padding: 30px 60px 0;
            }
            @include ScreenMax(XS){
                padding: 30px 15px 0;
            }
        }
        &__list{
            padding:  0 0 0 60px;
            margin: 0;
            @include ScreenMax(SM){
                padding:  0;
            }
        }
        &__item{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            list-style: none;
            line-height: 1.3;
            margin-bottom: 15px;

            
            &-number{
                padding-right: 15px;
                font-weight: 800;
                color: #2fbff3;
            }
            &-link{
                color: #3f3f3f;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.4;
            }
        }
    }
}