.homepage{
    .trouble{
        
        &__title{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;
            padding: 30px 60px;
            @include ScreenMax(SM){
                padding: 30px 0 0;
            }
            @include ScreenMax(XS){
                padding: 15px 0;
            }

            &--image{
                width: initial;
                height: auto;
            }
            &--text{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px;
                font-size: 20px;
            }
        }
        .content{
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            align-items: center;

           
            &__group{
                padding: 5px 10px 5px;
                line-height: 1.4;
                padding-bottom: 15px;
                display: flex;
                flex-direction: row;
                input[type=checkbox]{
                    display: inline-block;
                }
                label{
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 5px;
                    display: inline-block;

                    a{
                        color: #2fbff3;
                        
                    }
                }
            }
            &__left{
                width: 65%;
                padding: 30px 60px;
                @include ScreenMax(SM){
                    padding: 30px 0;
                }
                @include ScreenMax(XS){
                    padding: 15px 0;
                }
            }
            &__right{
                width: 35%;
                &--image{
                    width: 100%;
                }
            }
            @include ScreenMax(SM){
                flex-direction: column;
                &__left{
                    width: 100%;
                }
                &__right{
                    width: initial;
                    margin-top: 30px;
                    &--image{
                        width: 100%;
                    }
                }
            }
        }
    }
    .hr__blue{
        font-size: 18px;
        background-color: #00b0f0;
        line-height: 1.6;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 5px;
        margin-top: 20px;
        @include ScreenMax(XS){
            font-size: 15px;
        }
    }
}