<div class="contentin fadein">
    <div class="content">
        <div class="homepage">
            <div class="analysis">
                <div class="analysis__head">
                    <h3 class="analysis__head--title">スプレッドシート機能で簡単分析！！</h3>
                    <h4 class="analysis__head--des">日々の入力データが反映</h4>
                </div>
                <div class="content">
                    <div class="wrapper center">
                        <ul class="wrapper--data">
                            <li class="content__group">
                                <input type="checkbox" id="analysis" name="analysis">
                                <label for="analysis">日・週・月報告機能で入力したデータが反映</label>
                            </li>
                            <li class="content__group">
                                <input type="checkbox" id="analysis1" name="analysis1">
                                <label for="analysis1">従業員の動きを集計し、グラフで視覚化され一目で動きが分かる </label>
                            </li>
                            <li class="content__group">
                                <input type="checkbox" id="analysis12" name="analysis12">
                                <label for="analysis12">管理者は指導に活用、一般従業員も自身の立ち位置が明確化され課題が見つけやすくなる </label>
                            </li>
                            <li class="content__group">
                                <input type="checkbox" id="analysis123" name="analysis123">
                                <label for="analysis123">スマホ、タブレット、PC。場所を問わずにどこからでもアクセスして、閲覧できる </label>
                            </li>
                            <li class="content__group">
                                <input type="checkbox" id="analysis1234" name="analysis1234">
                                <label for="analysis1234">リアルタイムに日々の営業活動の共有が可能 </label>
                            </li>
                            <li class="content__group">
                                <input type="checkbox" id="analysis12345" name="analysis12345">
                                <label for="analysis12345">テレアポ・商談・受注等、営業が起こすアクションを数値データに基づいて管理できる </label>
                            </li>
                        </ul>
                        <div class="wrapper__right">
                            <img class="wrapper__right--image" src="/img/analysis.png" alt="">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="image__left">
                            <div>
                                <button class="btn btn__spreadsheet">集計表</button>
                            </div>
                            <img class="wrapper__right--image" src="/img/analysis-left.png" alt="">
                        </div>
                        <div class="image__right">
                            <div>
                                <button class="btn btn__spreadsheet">グラフ表記</button>
                            </div>
                            <img class="wrapper__right--image" src="/img/analysis-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>