<div class="contentin fadein">
    <div class="content">
        <div class="homepage">
            <div class="attendance">
                <div class="attendance__head">
                    <h3 class="attendance__head--title">シフト・勤怠管理をクラウド化しませんか？ </h3>
                    <h4 class="attendance__head--des">クラウド一括管理でシフトの自動収集・共有がラクラク！！ </h4>
                </div>
                <div class="wrapper">
                    <div class="collection wrapper__item--left">
                        <div class="headding__wrapper">
                            <button class="btn__heading">シフト収集</button>
                        </div>
                        
                        <div class="blocked">
                            <div class="item first">
                                <div class="item__block">
                                    <img src="/img/attendance-left-a.png" alt="">
                                </div>
                            </div>
                            <div class="item mid">
                                <div class="item__block">
                                    <img src="/img/attendance-left-b.png" alt="">
                                </div>
                            </div>
                            <div class="item last">
                                <div class="item__block">
                                    <img src="/img/attendance-left-c.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper__item--mid">
                        <div class="headding__wrapper">
                            <button class="btn__heading">シフト作成・調整 </button>
                        </div>
                        
                        <div class="blocked">
                            <div class="item__center" style="background-image: url('/img/attendance.png');"></div>
                        </div>
                    </div>
                    <div class="collection wrapper__item--right">
                        <div class="headding__wrapper">
                            <button class="btn__heading">シフト共有 </button>
                        </div>
                        
                        <div class="blocked">
                            <div class="item first">
                                <div class="item__block">
                                    <img src="/img/attendance-right-a.png" alt="">
                                </div>
                            </div>
                            <div class="item mid">
                                <div class="item__block">
                                    <img src="/img/attendance-right-b.png" alt="">
                                </div>
                            </div>
                            <div class="item last">
                                <div class="item__block">
                                    <img src="/img/attendance-right-c.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="context">
                    <div class="context__group">
                        <h4>01.希望シフトの収集  </h4>
                        <p>
                            スタッフ専用のｍｙページから希望シフトを入力し提出することができます。提出されたシフトはすぐに管理ページに収集されます。
                        </p>
                    </div>
                    <div class="context__group">
                        <h4>02.シフト作成 </h4>
                        <p>
                            収集されたシフトを管理ページ上で調整ができます。急な変更なども場所を選ばず、「いつでも」「どこでも」調整が可能です。
                        </p>
                    </div>
                    <div class="context__group">
                        <h4>03.シフト共有  </h4>
                        <p>
                            スマホ1台あれば、提出や確認が可能になります。タイムラグによるヒューマンエラーをなくします。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>