<!-- Infomation -->
<div class="skills section second" id="infor">
    <div class="container">
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h4">
                    THÔNG TIN CÁ NHÂN
                </caption>
                <tfoot>
                    <tr>
                        <td colspan="2">Thông tin tương đối có thể thay đổi theo thời điểm.</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>Ngày sinh</th>
                        <td>26/06/1995</td>
                    </tr>
                    <tr>
                        <th>Giới tính</th>
                        <td>Nam</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td>
                            <a href="tel:+84343086424" style="font-weight: bold"> +84343086424 </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Địa chỉ mail</th>
                        <td>
                            <a href="mail:thanhhung.code@gmail.com" style="font-weight: bold"> thanhhung.code@gmail.com </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Địa chỉ</th>
                        <!-- <td>東京都葛飾区東四つ木3-15-8</td> -->
                        <td>
                            Tạm trú:
                            <strong style="color: black"> 107/39 Phạm Văn Hai, Phường 3, Tân Bình, Thành phố Hồ Chí Minh </strong><br />
                            Thường trú:
                            <strong> Lộc Hoà, Bình Giã, Huyện Châu Đức, Tỉnh Bà Rịa - Vũng Tàu </strong>
                        </td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://ebudezain.com/">https://ebudezain.com/</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- OBJECTIVE -->
<div class="skills section second" id="objective">
    <div class="container">
        <h1>Mục Tiêu</h1>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h4">Ngắn Hạn</li>
            <li class="itext-color-stylish-color-dark pl-3">Được làm việc trong môi trường năng động sáng tạo, đồng nghiệp nhiệt tình.</li>
            <li class="itext-color-stylish-color-dark pl-3">Tận dụng được các kỹ năng lập trình có sẵn từ đó phát triển thêm các kỹ năng khác.</li>
            <li class="itext-color-stylish-color-dark pl-3">
                Được học tập làm việc với môi trường chuyên nghiệp web app sau đó tiếp cận với mobile app.
            </li>
        </ul>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h4">Dài Hạn</li>
            <li class="itext-color-stylish-color-dark pl-3">
                Trở thành Fullstack engineer và truyền đạt lại những kiến thức đã biết cho những bạn thế hệ đi sau.
            </li>
        </ul>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h4">Solgan</li>
            <li class="itext-color-stylish-color-dark pl-3">
                <span class="text-color-pink">"Nothing Is Impossible"</span> --- không gì là không thể.
            </li>
        </ul>
    </div>
</div>

<!-- EDUCATION -->
<div class="skills section second" id="education">
    <div class="container">
        <h1>Học vấn</h1>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h3">Đại Học Sài Gòn</li>
            <li class="itext-color-stylish-color-dark pl-3">Cử Nhân Toán Ứng Dụng.</li>
            <li class="itext-color-stylish-color-dark pl-3">Chuyên ngành Toán Tin Ứng Dụng.</li>
        </ul>
    </div>
</div>

<!-- Technical Skills -->
<div class="skills section second" id="skills">
    <div class="container">
        <h1>Technical Skills</h1>
        <ul class="skill-list list-flat">
            <li>Web Technology</li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Backend</li>
            <li class="itext-color-unique-color pl-4">
                <p>PHP / Nodejs / java / ...</p>
            </li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Backend Framework</li>
            <li class="itext-color-unique-color pl-4">
                <p>Nestjs / Serverless Framework / SAM Framework</p>
                <p>Express / Laravel / CodeIgniter / ...</p>
            </li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Frontend</li>
            <li class="itext-color-unique-color pl-4">
                <p>HTML / CSS / SASS / Javascript / Gulp / Webpack / grunt</p>
            </li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Frontend Framwork</li>
            <li class="itext-color-unique-color pl-4">
                <p>Reactjs / Nextjs</p>
            </li>
        </ul>
        <ul class="skill-list list-flat">
            <li>Database</li>
            <li>Postgree / MongoDB / Firebase / MySQL / Redis / Dynamo / ...</li>
        </ul>
        <ul class="skill-list list-flat">
            <li>AWS</li>
            <li>AWS Event Bridge / SQS / Lambda / S3 / RDS / API gateway / ECS / ECR / ...</li>
        </ul>
        <ul class="skill-list list-flat">
            <li>CI / CD</li>
            <li>Jenkins / Github Action / Terraform / CodeCommit | CodeBuild | CodePipeline</li>
        </ul>
        <ul class="skill-list list-flat">
            <li>Search Engine</li>
            <li>Algolia / Elasticsearch</li>
        </ul>
        <ul class="skill-list list-flat">
            <li>Test</li>
            <li>
                <ol style="list-style-type: circle">
                    <li class="itext-color-elegant-color-dark pt-2 pl-3">Unit Test Jest</li>
                    <li class="itext-color-elegant-color-dark pt-2 pl-3">Automated Jest Puppeteer</li>
                </ol>
            </li>
        </ul>
        <ul class="skill-list list-flat">
            <li>OS server</li>
            <li>Centos 7 / Ubuntu 18.04</li>
        </ul>
    </div>
</div>

<!-- Work Experience -->
<div class="work section second" id="experiences">
    <div class="container">
        <h1>
            Quá trình<br />
            Làm việc
        </h1>
        <ul class="work-list">
            <li>11/2022 - Nay</li>
            <li><a href=""> Ahippo </a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">Software engineer</li>
            <li class="pl-3">
                <p><strong>Ứng dụng Ahippo:</strong> Booking hồ bơi giữa host là người cho thuê và guest là người muốn thuê.<br /></p>
                <p><strong>Ứng dụng Insiderround:</strong> Tạo môi trường để investor và organization matching với nhau.<br /></p>
                <p>
                    Manage small dev team. <br />
                    Review Code.<br />
                </p>
            </li>
        </ul>
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Ahippo Project
                </caption>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Mỹ</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>
                            Hệ thống cho phép booking hồ bơi và trò chuyện với nhau.<br />
                            Sử dụng nextjs ở FE và kết nối với nestjs làm graphql BE
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>Đội DEV server site : 5 người - DEV front end: 4 người</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Fullstack Engineer</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            Cùng phân tích và thiết kế project cùng với CTO, CEO. <br />
                            Review Code.<br />
                            CI - CD <br />
                            Test Auto <br />
                            Optimize code, system, ... <br />
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- Nextjs, Socket, Nextjs, Serverless ...</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            <a href="https://www.ahippo.com/">https://www.ahippo.com/</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Insiderround Project
                </caption>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Mỹ</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>
                            Hệ thống cho phép Investor và Org tạo profile và trò chuyện với nhau từ đó ra các quyết định đầu tư.<br />
                            Sử dụng nextjs ở FE và kết nối với nextjs làm graphql BE
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>Đội DEV server site : 3 người - DEV front end: 2 người</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Leader</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            Nhận yêu cầu và triển khai yêu cầu. Chia task cho từng thành viên<br />
                            Review Code.<br />
                            CI - CD <br />
                            Test Auto <br />
                            Optimize code, system, ... <br />
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- Nextjs / Backend nextjs ( graphql ) ...</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            <a href="https://app.insiderround.com/">https://app.insiderround.com/</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="work-list">
            <li>01/2022 - 11/2022</li>
            <li><a href="">Aris Việt Nam</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">Kỹ sư phần mềm</li>
            <li class="pl-3">
                <p>
                    Lập trình website app trên nền tảng Reactjs, GraphQL, AWS, nodejs và C++.<br />
                    Quản lý team dev nhỏ trong phạm vi Front End. <br />
                    Quản Lý source code GIT.<br />
                </p>
            </li>
        </ul>
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Dự án Accretech
                </caption>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Nhật Bản</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>
                            Hệ thống cho phép vẽ sơ đồ máy thiết bị máy có khả năng tạo ra các máy khác.<br />
                            Sử dụng reactjs ở FE để điều khiển vận hành máy - Là 1 nhánh của lập tình IOT dựa vào C++
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>Đội DEV server site : 3 người - DEV front end: 7 người</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Front end developer</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            Cùng phân tích và thiết kế project structure của web app trên nền tảng reactjs. <br />
                            Đào tạo, quản lý intern<br />
                            Quản lý source code git.<br />
                            Review code.<br />
                            Optimize code.<br />
                            Fix bug.
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- HTML5, Sass, Nodejs Express, Socket, Reactjs, SAM, lambda, dynamo ...</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="#">None public</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="work-list">
            <li>03/2019 - 14/01/2022</li>
            <li><a href="">Management Partners Viet Nam - Nhật</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">Fullstack Web Developer</li>
            <li class="pl-3">
                <p>
                    Lập trình website tìm việc làm trên đối tượng bác sĩ trên nền tảng php core. Code Api cho mobile app.<br />
                    Lập trình hệ thống quản lý nhân sự với php laravel 5. <br />
                    Lập trình web việc làm cho hệ thống người giúp việc trên nền tảng php laravel trong hệ thống thanh toán stripe. Nắm chính luồng xử
                    lý realtime backend vận dụng REST API với nodejs kết hợp reactjs, Redux<br />
                    Kết hợp Team mobile Flutter thực hiện các tác vụ realtime, notification FCM, ...<br />
                    Quản Lý source code GIT, Đồng thời quản lý vận hành server.<br />
                </p>
            </li>
        </ul>
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Dự án đăng ký tìm công việc Cho người trông trẻ (năm 2020)
                </caption>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Nhật Bản</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>
                            Hệ thống cho phép người trông trẻ ( người được thuê ) đăng ký thành viên, đăng ký thời gian làm việc.<br />
                            Sau đó các người thuê sẽ đăng ký thành viên và tìm kiếm người giúp việc theo tiêu chí tương ứng. <br />
                            Người thuê và người được thuê có thể kết nối trò chuyện với nhau để tự thương lượng về giá và thời gian làm việc.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>Đội DEV server site : 7 người - DEV mobile Flutter : 5 người</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Fulstack developer ( PHP laravel, nodejs, postgre )</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            Cùng phân tích và thiết kế Database, project structure laravel của web và api. <br />
                            Viết code cho cả web lẫn api. Đồng thời chịu trách nhiệm chính phần lập lịch, realtime, thanh toán, notification,...<br />
                            Quản lý source code git, quản lý vận hành server.<br />
                            Review code.<br />
                            Optimize code.<br />
                            Fix bug.
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- HTML5, Sass, Nodejs Express, Php Laravel, Gulp, Reactjs, Postgre, Rest API, Flutter.</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            <a href="https://kaseifu-babysitter.com/">https://kaseifu-babysitter.com/</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Dự án đăng ký tìm công việc trong bệnh viện ( năm 2019 )
                </caption>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Nhật Bản</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>
                            Hệ thống cho phép bác sĩ có kinh nghiệm hoặc bác sĩ sắp ra trường đăng ký thành viên. <br />
                            Sau đó các admin của các bệnh viện cũng đăng ký và tuyển dụng bác sĩ. <br />
                            Các bệnh viện và bác sĩ có thể kết nối trò chuyện với nhau để tự thương lượng về giá và thời gian làm việc.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>25 người</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Fulstack developer ( PHP laravel 5, postgre )</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            Cùng phân tích và thiết kế Database, project structure core của web và api. <br />
                            Viết code cho cả web lẫn api. Đồng thời chịu trách nhiệm chính phần lập lịch - 1 thành phần quan trọng trong hệ thống.<br />
                            Dev và Optimize code.<br />
                            Fix bug.
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- HTML5, Sass, nodejs, php, postgre, Rest API, Flutter</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://b-doctor.biz/">https://b-doctor.biz/</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Dự án quản lý nhân viên - chấm công
                </caption>
                <tfoot>
                    <tr>
                        <td colspan="2">Và nhiều dự án nhỏ lẻ khác</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Nhật Bản</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>
                            Hệ thống quản lý nhân viên của 1 công ty lớn có thể có rất nhiều nhân viên gồm các thành phần chấm công, lương, thuế, và 1
                            số nghiệp vụ kế toán.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>16 người team việt nam, 3 người team nhật, 10 người team philippin</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Fulstack developer ( PHP )</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            Tham gia phần thống kê ở excel theo yêu cầu bên kế toán. <br />
                            Tham gia phần vẽ biểu đồ thống kê với highchart.
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- HTML5, php, postgre</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            <a href="https://ctrl.trust-growth.co.jp/">https://ctrl.trust-growth.co.jp/</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="work-list mt-5">
            <li>03/2017-03/2019</li>
            <li><a href="">Tokyo design Room</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">PHP Developer</li>
            <li class="pl-3">
                <p>
                    Lập trình website tìm việc làm
                    <a href="https://www.kandc.com/">kandc</a> trên php core. <br />
                    Hệ thống cửa hàng hàng của nhật trên nền tảng laravel 5. <br />
                    Và nhiều website khác trên nền tảng Wordpress.<br />
                    Nhận task và điều phối 2 bạn cùng team.<br />
                </p>
                <span class="d-block text-color-green-dark">Số lượng member trong team: <b>4 DEV </b></span>
            </li>
        </ul>
        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Dự án kandc
                </caption>
                <tfoot>
                    <tr>
                        <td colspan="2">Và nhiều dự án nhỏ lẻ khác dựa trên CMS wordpress.</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Nhật Bản</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>Website việc làm của nhật.</td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>4 DEV</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Fulstack developer ( PHP )</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            - Điều phối công việc cho 2 bạn cùng team. - Xây dựng kết cấu dự án - Phân tích và thiết kế hệ thống - Development -
                            Review code - Optimize code - Bug Fixing - Quản lý vận hành server apache
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- HTML5, php, mysql, jquery, ajax</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://www.kandc.com/">https://www.kandc.com/</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="work-list mt-5">
            <li>07/2016 - 03/2017</li>
            <li><a href="">TNHH VIETSPACE</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">Front-end developer</li>
            <li class="pl-3">
                <p>
                    Công việc chính là làm Front-end sử dụng HTML, CSS, GULP minify cho hệ thống phân tích tài chính
                    <a href="https://litbi.com/home_vn">litbi</a> Và cũng là product của công ty. <br />
                    Viết code javascript, jquery logic cho web service ( Login, Google Chart, ... ) <br />
                    Viết code API cho java servelet trên nền DB oracle. Thu thập dữ liệu crawler <br />
                </p>
                <span class="d-block text-color-green-dark">Số lượng member trong team: <b> 6 DEV </b></span>
            </li>
        </ul>

        <div style="overflow-x: auto">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color">
                    Dự án phân tích tài chính litbi
                </caption>
                <tbody>
                    <tr>
                        <th>Khách hàng</th>
                        <td>Product của công ty - Việt nam</td>
                    </tr>
                    <tr>
                        <th>Mô tả</th>
                        <td>Website service phân tích tài chính doanh nghiệp.</td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td>6 DEV</td>
                    </tr>
                    <tr>
                        <th>Vị trí</th>
                        <td>Frontend developer</td>
                    </tr>
                    <tr>
                        <th>Công việc chính</th>
                        <td>
                            - Chịu trách nhiệm phần UI, UX cho website.<br />
                            - Dev và Optimize code<br />
                            - Bug Fixing<br />
                            - Viết code api java servelet
                        </td>
                    </tr>
                    <tr>
                        <th>Công nghệ</th>
                        <td>- HTML5, css3, jquery, ajax, google chart, java, jsp, oracle</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            <a href="https://litbi.com/home_vn">https://litbi.com/home_vn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- INTERESTS AND PERSONALITIES -->
<div class="skills section second" id="about">
    <div class="container">
        <h3>Cá nhân</h3>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark pl-3">Thích chơi game, nghe nhạc, du lịch, v.v.</li>
            <li class="itext-color-stylish-color-dark pl-3">Có trách nhiệm với công việc, có tinh thần học hỏi, chịu áp lực cao.</li>
        </ul>
    </div>
</div>

<footer>
    <div class="container">
        <div class="units-row">
            <div class="unit-50">
                <p>Trương thanh hùng web developer</p>
            </div>
            <div class="unit-50">
                <ul class="social list-flat right">
                    <li>
                        <a href="mailto:thanhhung.dev@gmail.com"><i class="fa fa-send"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/HungSmurf"><i class="fa fa-facebook-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- 



<a id="saveAsPdfBtn" href="https://www.sejda.com/html-to-pdf">Save as PDF</a>
<script>
document.getElementById('saveAsPdfBtn').addEventListener('click', function(e){
  var pageUrl = encodeURIComponent(window.location.href);
  window.open('https://www.sejda.com/html-to-pdf?save-link=' + pageUrl);
  e.preventDefault();
});
</script> -->
