


<!-- Infomation -->
<div class="skills section second" id="infor">
    <div class="container">
        <div style="overflow-x:auto;">
            <table class="table-latitude">
                <caption class="h4">INFOMATION</caption>
                <tfoot>
                    <tr>
                        <td colspan=2>Relative information may change from time to time.</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>Date of birth</th>
                        <td>1995/06/26</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>male</td>
                    </tr>
                    <tr>
                        <th>Phone number</th>
                        <td>+84343086424</td>
                    </tr>
                    <tr>
                        <th>Mail address</th>
                        <td>thanhhung.dev@gmail.com or thanhhung.code@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <!-- <td>東京都葛飾区東四つ木3-15-8</td> -->
                        <td>Loc Hoa, Binh Gia Commune, Chau Duc District, Ba Ria - Vung Tau Province</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://ebudezain.com/">https://ebudezain.com/</a></td>
                    </tr>
                </tbody>
           </table>
        </div>
    </div>
</div>
<!-- OBJECTIVE -->
<div class="skills section second" id="objective">
    <div class="container">
        <h1> Goal </h1>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h4"> Short-term </li>
            <li class="itext-color-stylish-color-dark pl-3">Working in a dynamic and creative environment with enthusiastic colleagues.</li>
            <li class="itext-color-stylish-color-dark pl-3">Take advantage of available programming skills and develop other skills such as mobile apps.</li>
            <li class="itext-color-stylish-color-dark pl-3">Learn to work in a professional web app environment, then approach mobile apps.</li>
        </ul>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h4"> Long-term </li>
            <li class="itext-color-stylish-color-dark pl-3">Become a Fullstack engineer and pass on your known knowledge to those who need it.</li>
        </ul>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h4"> Solgan </li>
            <li class="itext-color-stylish-color-dark pl-3"><span class="text-color-pink">"Nothing Is Impossible"</span></li>
        </ul>
    </div>
</div>

<!-- EDUCATION -->
<div class="skills section second" id="education">
    <div class="container">
        <h1> EDUCATION </h1>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark h3"> Sai Gon University </li>
            <li class="itext-color-stylish-color-dark pl-3">Bachelor of Applied Mathematics.</li>
            <li class="itext-color-stylish-color-dark pl-3">Specialization in Mathematics - Applied Information technology.</li>
        </ul>
    </div>
</div>


<!-- Work Experience -->
<div class="work section second" id="experiences">
    <div class="container">
        <h1>Progress<br> Work</h1>
        <ul class="work-list">
            <li>01/2022 - nay</li>
            <li><a href="">Aris VIET NAM</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">Software engineer</li>
            <li class="pl-3">
                <p>
                    Programming website apps on Reactjs, GraphQL, AWS, nodejs and C++ platforms.<br />
                    Manage small dev team within Front End. <br />
                    GIT Source Code Management.<br />
                </p>
            </li>
        </ul>
        <div style="overflow-x:auto;">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color ">Accretech Project</caption>
                <tbody>
                    <tr>
                        <th>Customer</th>
                        <td>Product of the company - Japan</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            The system allows drawing diagrams of machines, equipment, and machines capable of creating other machines.<br />
                            Using reactjs in FE to control machine operation - Is a branch of IOT programming based on C++
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td> Team DEV server site : 3 member - DEV front end: 7 member </td>
                    </tr>
                    <tr>
                        <th> Position </th>
                        <td> Front end developer</td>
                    </tr>
                    <tr>
                        <th>Main role</th>
                        <td>
                            Let's analyze and design project structure of web app on reactjs platform. <br />
                            Training and managing intern members<br />
                            Git source code management.<br />
                            Review code.<br />
                            Optimize code.<br />
                            Fix bug.
                        </td>
                    </tr>
                    <tr>
                        <th>Technology</th>
                        <td>- HTML5, Sass, Nodejs Express, Socket, Reactjs, SAM, lambda, dynamo ...</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="#">None public</a></td>
                    </tr>
                </tbody>
           </table>
        </div>

        <ul class="work-list">
            <li>03/2019 - 14/01/2022</li>
            <li><a href="">Management Partners Viet Nam - Japan</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">Fullstack Web Developer</li>
            <li class="pl-3">
                <p>
                    Programming a job search website on the doctor object on the php core platform. Code Api for mobile apps.<br />
                    Programming employee management system with php laravel 5. <br />
                    Web programmer looking for a job for babysitter on php laravel platform in stripe payment system.
                    Master the realtime backend processing flow using REST API with nodejs combined reactjs, Redux<br />
                    Combining Team mobile Flutter to perform real-time tasks, notification FCM, ...<br />
                    Manage GIT source code, At the same time manage server operation.<br />
                </p>
            </li>
        </ul>
        <div style="overflow-x:auto;">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color ">BABYSITER JOB REGISTRATION PROJECT (2020)</caption>
                <tbody>
                    <tr>
                        <th>Customer</th>
                        <td>Product of the company - Japan</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            The system allows babysitters (employees) to register members, register working time in calendar.<br />
                            After that, employer will register as a member and look at babysister according to the respective criteria. <br />
                            Tenants and tenants can connect and chat with each other to negotiate price and working time themselves.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td> Team DEV server site : 7 member - DEV mobile Flutter : 5 member </td>
                    </tr>
                    <tr>
                        <th> Position </th>
                        <td> Fulstack developer ( PHP laravel, nodejs, postgre )</td>
                    </tr>
                    <tr>
                        <th>Main role</th>
                        <td>
                            Analyze and design Database, laravel project structure of web and api. <br />
                            Write code for both web and api. Main management features of scheduling, realtime, payment, notification,...<br />
                            Manage git source code, manage server operations.<br />
                            Review code.<br />
                            Optimize code.<br />
                            Fix bug.
                        </td>
                    </tr>
                    <tr>
                        <th>Technology</th>
                        <td>- HTML5, Sass, Nodejs Express, Php Laravel, Gulp, Reactjs, Postgre, Rest API, Flutter.</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://kaseifu-babysitter.com/">https://kaseifu-babysitter.com/</a></td>
                    </tr>
                </tbody>
           </table>
        </div>
        <div style="overflow-x:auto;">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color ">Job registration project in the hospital (in 2019)</caption>
                <tbody>
                    <tr>
                        <th>Customer</th>
                        <td>Product of the company - Japan</td> 
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            The system allows experienced doctors or doctors about to graduate to register for membership. <br />
                            Then the admins of the hospitals also registered and recruited doctors. <br />
                            Hospital admins and doctors can connect via chat page and calendar to negotiate price and working time.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td> 25 member </td>
                    </tr>
                    <tr>
                        <th> Position </th>
                        <td> Fulstack developer ( PHP laravel 5, postgre )</td>
                    </tr>
                    <tr>
                        <th>Main role</th>
                        <td>
                            Analyze and design Database, core project structure of web and api. <br />
                            Write code for both web and api. Main handle in chat and scheduling - an important component in the system.<br />
                            Dev và Optimize code.<br />
                            Fix bug.
                        </td>
                    </tr>
                    <tr>
                        <th>Technology</th>
                        <td>- HTML5, Sass, nodejs, php, postgre, Rest API, Flutter</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://b-doctor.biz/">https://b-doctor.biz/</a></td>
                    </tr>
                </tbody>
           </table>
        </div>
        <div style="overflow-x:auto;">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color ">Employee management project - timekeeping</caption>
                <tfoot>
                    <tr>
                        <td colspan=2>And many other small projects</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>Customer</th>
                        <td>Product of the company - Japan</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            The employee management system of a large company may have many employees, including timekeeping components,
                             salary, tax, and some accounting services.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td> 16 Vietnamese team members, 3 Japanese team members, 10 Filipino team members </td>
                    </tr>
                    <tr>
                        <th> Position </th>
                        <td> Fulstack developer ( PHP  )</td>
                    </tr>
                    <tr>
                        <th>Main job</th>
                        <td>
                            Join the statistics section in excel at the request of the accountant. <br />
                            Join the statistical charting section with highchart.
                        </td>
                    </tr>
                    <tr>
                        <th>Technology</th>
                        <td>- HTML5, php, postgre, highchart</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://ctrl.trust-growth.co.jp/">https://ctrl.trust-growth.co.jp/</a></td>
                    </tr>
                </tbody>
           </table>
        </div>
        
        <ul class="work-list mt-5">
            <li>03/2017-03/2019</li>
            <li><a href="">Tokyo design Room</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">PHP Developer</li>
            <li class="pl-3">
                <p>
                    Website programmer for job search <a href="https://www.kandc.com/">kandc</a> on php core. <br />
                    Japanese store system on laravel 5. <br />
                    And many other websites on Wordpress platform.<br />
                    Get the task and coordinate 2 teammates.<br />
                </p>
                <span class="d-block text-color-green-dark">Number of members in the team: <b>4  DEV </b></span>
            </li>
        </ul>
        <div style="overflow-x:auto;">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color ">Project kandc</caption>
                <tfoot>
                    <tr>
                        <td colspan=2>And many other small projects based on CMS wordpress.</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th>Customer</th>
                        <td>Product of the company - Japan</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            Japanese job site.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td> 4 DEV </td>
                    </tr>
                    <tr>
                        <th> Position</th>
                        <td> Fulstack developer ( PHP  )</td>
                    </tr>
                    <tr>
                        <th>Main job</th>
                        <td>
                            - Coordinate work for 2 teammates.
                            - Construction of project structure
                            - System analysis and design
                            - Development
                            - Review code
                            - Optimize code
                            - Bug Fixing
                            - apache server operation management
                        </td>
                    </tr>
                    <tr>
                        <th>Technology</th>
                        <td>- HTML5, php, mysql, jquery, ajax</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://www.kandc.com/">https://www.kandc.com/</a></td>
                    </tr>
                </tbody>
           </table>
        </div>
        
        <ul class="work-list mt-5">
            <li>07/2016 - 03/2017</li>
            <li><a href="">TNHH VIETSPACE</a></li>
            <li class="itext-color-unique-color h6 pt-3 pl-3">Front-end developer</li>
            <li class="pl-3">
                <p>
                    Main job is to make Front-end using HTML, CSS, GULP minify for financial analysis system <a href="https://litbi.com/home_vn">litbi</a> And also the product of the company. <br />
                    Write javascript code, jquery logic for web service ( Login, Google Chart, ...) <br />
                    Write API code for java servlet on oracle DB platform. Crawler data with java <br />
                </p>
                <span class="d-block text-color-green-dark">Number of members in the team: <b> 6 DEV </b></span>
            </li>
        </ul>

        <div style="overflow-x:auto;">
            <table class="table-latitude">
                <caption class="h6 itext-color-unique-color ">Financial analysis project litbi</caption>
                <tbody>
                    <tr>
                        <th>Customer</th>
                        <td>Product of the company - Vietnam </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            Website service for business financial analysis.
                        </td>
                    </tr>
                    <tr>
                        <th>Team size</th>
                        <td> 6 DEV </td>
                    </tr>
                    <tr>
                        <th> Position </th>
                        <td> Frontend developer</td>
                    </tr>
                    <tr>
                        <th>Main job</th>
                        <td>
                            - Responsible for the UI, UX for the website.<br />
                            - Dev and Optimize code<br />
                            - Bug Fixing<br />
                            - Write java servlet api code
                        </td>
                    </tr>
                    <tr>
                        <th>Technology</th>
                        <td>- HTML5, css3, jquery, ajax, google chart, java, jsp, oracle</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="https://litbi.com/home_vn">https://litbi.com/home_vn</a></td>
                    </tr>
                </tbody>
           </table>
        </div>
    </div>
</div>

<!-- Technical Skills -->
<div class="skills section second" id="skills">
    <div class="container">
        <h1>Technical<br>Skills</h1>
        <ul class="skill-list list-flat">
            <li>Web Technology</li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Backend</li>
            <li class="itext-color-unique-color pl-4">
                <p> PHP / Nodejs / ... </p>
            </li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Backend Framework</li>
            <li class="itext-color-unique-color pl-4">
                <p> Laravel / CodeIgniter / Express / ... </p>
            </li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Frontend</li>
            <li class="itext-color-unique-color pl-4">
                <p> HTML / CSS / SASS / Javascript / Gulp / Webpack / grunt </p>
            </li>
            <li class="itext-color-unique-color h6 pt-2 pl-3">Frontend Framwork</li>
            <li class="itext-color-unique-color pl-4">
                <p> Reactjs </p>
            </li>
        </ul>
        <ul class="skill-list list-flat">
            <li>Database</li>
            <li>Postgree / MongoDB / MySQL / redis cache </li>
        </ul>
        <ul class="skill-list list-flat">
            <li> OS server </li>
            <li> Centos 7 / Ubuntu 18.04 </li>
        </ul>
    </div>
</div>


<!-- INTERESTS AND PERSONALITIES -->
<div class="skills section second" id="about">
    <div class="container">
        <h3>Personal</h3>
        <ul class="skill-list list-flat">
            <li class="itext-color-stylish-color-dark pl-3"> Enjoy playing games, listening to music, traveling, etc. </li>
            <li class="itext-color-stylish-color-dark pl-3"> Responsible for work, willing to learn, high pressure. </li>
        </ul>
    </div>
</div>


<footer>
    <div class="container">
        <div class="units-row">
            <div class="unit-50">
                <p> Truong Thanh Hung web developer </p>
            </div>
            <div class="unit-50">
                <ul class="social list-flat right">
                    <li><a href="mailto:thanhhung.dev@gmail.com"><i class="fa fa-send"></i></a></li>
                    <li><a href="https://www.facebook.com/HungSmurf"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- 



<a id="saveAsPdfBtn" href="https://www.sejda.com/html-to-pdf">Save as PDF</a>
<script>
document.getElementById('saveAsPdfBtn').addEventListener('click', function(e){
  var pageUrl = encodeURIComponent(window.location.href);
  window.open('https://www.sejda.com/html-to-pdf?save-link=' + pageUrl);
  e.preventDefault();
});
</script> -->