<!-- information -->
<div class="skills section second" id="infor">
  <div class="container">
      <div style="overflow-x: auto">
          <table class="table-latitude">
              <caption class="h4">
                  THÔNG TIN CÁ NHÂN
              </caption>
              <tfoot class="pdfignore">
                  <tr>
                      <td colspan="2">Thông tin tương đối có thể thay đổi theo thời điểm.</td>
                  </tr>
              </tfoot>
              <tbody>
                  <tr class="pdfignore">
                      <th>Ngày sinh</th>
                      <td>26/06/1995</td>
                  </tr>
                  <tr class="pdfignore">
                      <th>Giới tính</th>
                      <td>Nam</td>
                  </tr>
                  <tr>
                      <th>Số điện thoại</th>
                      <td>
                          <a href="tel:+84343086424" style="font-weight: bold"> +84343086424 </a>
                      </td>
                  </tr>
                  <tr>
                      <th>Địa chỉ mail</th>
                      <td>
                          <a href="mail:thanhhung.code@gmail.com" style="font-weight: bold"> thanhhung.code@gmail.com </a>
                      </td>
                  </tr>
                  <tr class="pdfignore">
                      <th>Địa chỉ</th>
                      <!-- <td>東京都葛飾区東四つ木3-15-8</td> -->
                      <td>
                          Tạm trú:
                          <strong style="color: black"> 107/39 Phạm Văn Hai, Phường 3, Tân Bình, Thành phố Hồ Chí Minh </strong><br />
                          Thường trú:
                          <strong> Lộc Hoà, Bình Giã, Huyện Châu Đức, Tỉnh Bà Rịa - Vũng Tàu </strong>
                      </td>
                  </tr>
                  <tr>
                      <th>Website</th>
                      <td><a href="https://ebudezain.com/">https://ebudezain.com/</a></td>
                  </tr>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>