<!-- Introduction -->
<div class="intro section">
  <div class="container">
      <p>Web Developer - Trương Thanh Hùng.</p>
      <div class="units-row units-split wrap">
          <div class="unit-20">
              <img src="/img/ava.jpg" alt="Avatar" />
          </div>
          <div class="unit-80">
              <h1>
                  Main stack: <br />
                  <div class="wrapper__job">Nodejs - PHP - Reactjs.</div>
              </h1>
          </div>
          <p>
              Tôi là một fullstack web developer trẻ trung và năng động, luôn sáng tạo 
              và hiệu quả trong việc đưa ra các giải pháp công nghệ.
              <br />
              Tôi không ngừng học hỏi và rèn luyện kỹ năng để vượt qua áp lực 
              và thích ứng với những công nghệ mới nhất.
              <br />
              Trong tương lai gần, tôi muốn phát triển ứng dụng di động trên nền tảng 
              swift, React Native, flutter.
          </p>
      </div>
  </div>
  <div class="container text-right">
      <a type="button" class="btn btn-labeled btn-success" href="/truong-thanh-hung.vi.v1.0.0.pdf" download>
          <span class="btn-label">
              <i class="fa fa-download" aria-hidden="true"></i>
          </span>
          Tải file PDF
      </a>
  </div>
</div>