<!-- OBJECTIVE -->
<div class="skills section second" id="objective">
  <div class="container">
      <h1>Mục Tiêu</h1>
      <ul class="skill-list list-flat">
          <li class="itext-color-stylish-color-dark h4">Ngắn Hạn</li>
          <li class="itext-color-stylish-color-dark pl-3">Được làm việc trong môi trường năng động sáng tạo, đồng nghiệp nhiệt tình.</li>
          <li class="itext-color-stylish-color-dark pl-3">Tận dụng được các kỹ năng lập trình có sẵn từ đó phát triển thêm các kỹ năng quản lý.</li>
          <li class="itext-color-stylish-color-dark pl-3">
              Được học tập làm việc với môi trường chuyên nghiệp web app sau đó tiếp cận với mobile app.
          </li>
      </ul>
      <ul class="skill-list list-flat">
          <li class="itext-color-stylish-color-dark h4">Dài Hạn</li>
          <li class="itext-color-stylish-color-dark pl-3">
              Trở thành Fullstack engineer và truyền đạt lại những kiến thức đã biết cho những bạn thế hệ đi sau.
          </li>
      </ul>
      <ul class="skill-list list-flat">
          <li class="itext-color-stylish-color-dark h4">Solgan</li>
          <li class="itext-color-stylish-color-dark pl-3">
              <span class="text-color-pink">"Nothing Is Impossible"</span> --- không gì là không thể.
          </li>
      </ul>
  </div>
</div>